# JWT
JWT_SECRET=ganti-dengan-random-string-panjang

# Admin
ADMIN_USERNAME=adminakun1
ADMIN_PASSWORD=adminakun1
ADMIN_JWT_SECRET=ganti-dengan-random-string-lain

# Upstash Redis — auto inject setelah connect di Vercel dashboard
UPSTASH_REDIS_REST_URL=https://xxx.upstash.io
UPSTASH_REDIS_REST_TOKEN=xxx
