# JWT untuk user auth
JWT_SECRET=ganti-dengan-random-string-panjang

# Admin
ADMIN_USERNAME=adminakun1
ADMIN_PASSWORD=adminakun1
ADMIN_JWT_SECRET=ganti-dengan-random-string-lain

# Google OAuth — dari console.cloud.google.com
GOOGLE_CLIENT_ID=xxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-xxx

# NextAuth
NEXTAUTH_SECRET=ganti-dengan-random-string-panjang
NEXTAUTH_URL=https://domain-kamu.vercel.app

# Upstash Redis — auto inject setelah connect di Vercel dashboard
KV_REST_API_URL=https://xxx.upstash.io
KV_REST_API_TOKEN=xxx
