# JWT user
JWT_SECRET=ganti-dengan-random-string-panjang

# Admin panel credentials
ADMIN_USERNAME=adminakun1
ADMIN_PASSWORD=adminakun1
ADMIN_JWT_SECRET=ganti-dengan-random-string-lain

# Vercel KV — isi dari dashboard Vercel > Storage > KV > .env.local
KV_REST_API_URL=https://xxx.kv.vercel-storage.com
KV_REST_API_TOKEN=xxx
